@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to the BookStore</h1>
        <p class="lead">Explore our collection of amazing books!</p>
        <hr class="my-4">
        @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" class="text-primary">building Web apps with ASP.NET Core</a>.</p> *@
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/img/6677.jpeg" class="card-img-top" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title">Human Life</h5>
                    <p class="card-text">The brief description of human life.</p>
                    <a href="https://bestwriting.com/blog/life-changing-books/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/img/5454.jpg" class="card-img-top" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title">Greatest Popular Science</h5>
                    <p class="card-text">For more Information click on the view detail button</p>
                    <a href="https://www.oedb.org/ilibrarian/100-all-time-greatest-popular-science-books/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/img/6.jpg" class="card-img-top" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title">Artifical Intelligence</h5>
                    <p class="card-text">This is a brief description of Artifical Intelligence.</p>
                    <a href="https://www.mygreatlearning.com/blog/artificial-intelligence-books/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>

